### Investigación sobre las condiciones de la población educativa para nivel primario/Secundario en el Departamento Totoral Prov. de Córdoba

#### Los datos Han sido extraidos del sitio web del Gobierno de Córdoba:
https://datosestadistica.cba.gov.ar/dataset/indicadores-del-ra-de-educacion

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [11]:
leer_archivo_primaria= pd.read_csv(r"C:\Users\r_ger\Downloads\repitencia-1998-2021-primaria.csv", sep=';')

In [12]:
repitencia_primaria= pd.DataFrame(leer_archivo_primaria)

repitencia_primaria.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Departamento,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2,Total Provincia,"5,8",6,"5,8","5,3","4,3",4,"4,1","4,1","4,2",...,"2,5",2,"1,9","1,5","1,4",2,"0,8","0,6","0,6","0,4"
3,Calamuchita,"7,5","8,3","7,2","6,5","5,3","4,4",6,"5,5","5,1",...,"3,6","2,8","2,4","2,5","2,8","2,6",1,"1,6","1,2","0,6"
4,Capital,"5,7",6,"5,7",5,"3,8","3,6","3,4","3,7","3,9",...,"2,2","1,7","1,6","1,4","1,2","1,9","0,8","0,6","0,5","0,3"

In [13]:
nuevo_nombre = ['Departamento'] + [str(año) for año in range(1998, 2022)]  # Crear una lista con los nuevos nombres
repitencia_primaria.columns = nuevo_nombre  # Asignar los nuevos nombres a las columnas

# Eliminar la primera fila
df = repitencia_primaria.drop(0)

In [14]:

df.head()

,Departamento,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Departamento,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2,Total Provincia,"5,8",6,"5,8","5,3","4,3",4,"4,1","4,1","4,2",...,"2,5",2,"1,9","1,5","1,4",2,"0,8","0,6","0,6","0,4"
3,Calamuchita,"7,5","8,3","7,2","6,5","5,3","4,4",6,"5,5","5,1",...,"3,6","2,8","2,4","2,5","2,8","2,6",1,"1,6","1,2","0,6"
4,Capital,"5,7",6,"5,7",5,"3,8","3,6","3,4","3,7","3,9",...,"2,2","1,7","1,6","1,4","1,2","1,9","0,8","0,6","0,5","0,3"
5,Col�n,"7,4","8,1","7,1","7,4","6,3","5,9","5,1","5,2","4,9",...,"2,5","2,2",2,"1,6","1,3","2,4","1,3","1,3","1,7","0,9"

In [15]:
Departamento_Totoral=df.iloc[25]

In [16]:

data_frame= pd.DataFrame(Departamento_Totoral)

data_frame.T

,Departamento,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
26,Totoral,"11,9","11,6","13,3","11,2","11,1","6,9","7,3","8,5","7,6",...,"2,2",2,"1,5","0,3","0,9","1,1","0,5","0,1","0,3","0,9"

In [17]:
data_frame

                   26
Departamento  Totoral
1998             11,9
1999             11,6
2000             13,3
2001             11,2
2002             11,1
2003              6,9
2004              7,3
2005              8,5
2006              7,6
2007              4,3
2008              7,6
2009              6,4
2010              6,4
2011                2
2012              2,2
2013                2
2014              1,5
2015              0,3
2016              0,9
2017              1,1
2018              0,5
2019              0,1
2020              0,3
2021              0,9

In [18]:
data = {
    'Año': list(range(1998, 2022)),
    'Totoral': [11.9, 11.6, 13.3, 11.2, 11.1, 6.9, 7.3, 8.5, 7.6, 4.3, 7.6, 6.4, 6.4, 2, 2.2, 2, 1.5, 0.3, 0.9, 1.1, 0.5, 0.1, 0.3, 0.9]
}

nuevo_df = pd.DataFrame(data)

# Configurar el estilo de Seaborn para mejorar la estética
sns.set(style="whitegrid", rc={"grid.linestyle": '--'})

# Configurar el tamaño de la figura y la resolución
fig, ax = plt.subplots(figsize=(12, 9), dpi=80)

# Crear el gráfico de barras
bars = ax.bar(nuevo_df['Año'], nuevo_df['Totoral'], color='#3498db', edgecolor='black')

# Añadir etiquetas y título
plt.title('Índice de repitencia por Año', fontsize=16, fontweight='bold', color='#333333')
plt.xlabel('Año', fontsize=14, color='#555555')
plt.ylabel('Porcentaje de repitencia (%)', fontsize=14, color='#555555')
plt.xticks(fontsize=12, color='#555555')
plt.yticks(fontsize=12, color='#555555')

# Añadir etiquetas en las barras con valores en porcentajes
for bar in bars:
    yval = bar.get_height()
    plt.text(bar.get_x() + bar.get_width() / 2, yval, f'{round(yval, 2)}%', ha='center', va='bottom', fontsize=10, color='#555555')

# Añadir una leyenda
plt.legend(['Repitencia'], loc='upper right', fontsize=12)

# Añadir una rejilla para mejor lectura
plt.grid(axis='y', linestyle='--', alpha=0.7)

# Eliminar bordes innecesarios
plt.box(False)

# Mostrar el gráfico
plt.tight_layout()
plt.show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
  File "C:\Users\r_ger\AppData\Local\Temp\ipykernel_22612\3186758931.py", line 12, in <module>
    fig, ax = plt.subplots(figsize=(12, 9), dpi=80)
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 1598, in subplots
    fig = figure(**fig_kw)
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 934, in figure
    manager = new_figure_manager(
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 464, in new_figure_manager
    _warn_if_gui_out_of_main_thread()
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 441, in _warn_if_gui_out_of_main_thread
    canvas_class = cast(type[FigureCanvasBase], _get_backend_mod().FigureCanvas)
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 280, in _get_backend_mod
    switch_backend(rcParams._get("backend"))  # type: ignore[attr-defined]
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 342, in switch_backend
    module = importlib.import_module(cbook._backend_module_name(newbackend))
  File "C:\Users\r_ger\AppData\Local\Programs\Python\Python310\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 992, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1004, in _find_and_load_unlocked
ModuleNotFoundError: No module named 'matplotlib_inline'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\pygments\styles\__init__.py", line 45, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\ultratb.py", line 1063, in format_exception_as_a_whole
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\ultratb.py", line 1114, in get_records
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\pygments\styles\__init__.py", line 47, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'pygments.styles.default', though it should be builtin.

In [19]:
# Datos proporcionados
porcentaje = [333, 307, 332, 299, 297, 291, 289, 263, 218, 232, 234, 221, 227, 224, 177, 16, 115, 101, 64, 49, 33, 24, 32, 24]
años = [1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

# Ajustar el porcentaje dividiendo cada valor por 10
porcentaje_ajustado = [p / 10 for p in porcentaje]

# Establecer el estilo de seaborn para una apariencia más moderna
sns.set(style="whitegrid")

# Crear el gráfico con Matplotlib
plt.figure(figsize=(12, 6))
sns.lineplot(x=años, y=porcentaje_ajustado, marker='o', color='#3498db', linewidth=2)

# Añadir etiquetas y título
plt.xlabel('Año', fontsize=14, fontweight='bold')
plt.ylabel('Porcentaje de alumnos con sobreedad (%)', fontsize=14, fontweight='bold')
plt.title('Indice de sobredad por año', fontsize=16, fontweight='bold')

# Añadir etiquetas a los puntos de datos

# Ajustes adicionalesfor i, txt in enumerate(porcentaje_ajustado):
for i, txt in enumerate(porcentaje_ajustado):
    plt.annotate(f'{txt:.1f}%', (años[i], porcentaje_ajustado[i]), textcoords="offset points", xytext=(0,5), ha='center', fontsize=10, color='#333333')

plt.xticks(rotation=45, ha='right', fontsize=12)
plt.yticks(fontsize=12)
plt.grid(axis='y', linestyle='--', alpha=0.7)

# Ajustar la escala del eje y para mayor legibilidad
plt.ylim(0, max(porcentaje_ajustado) + 5)

# Mostrar el gráfico
plt.tight_layout()
plt.show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
  File "C:\Users\r_ger\AppData\Local\Temp\ipykernel_22612\2944037999.py", line 12, in <module>
    plt.figure(figsize=(12, 6))
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 934, in figure
    manager = new_figure_manager(
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 464, in new_figure_manager
    _warn_if_gui_out_of_main_thread()
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 441, in _warn_if_gui_out_of_main_thread
    canvas_class = cast(type[FigureCanvasBase], _get_backend_mod().FigureCanvas)
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 280, in _get_backend_mod
    switch_backend(rcParams._get("backend"))  # type: ignore[attr-defined]
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\matplotlib\pyplot.py", line 342, in switch_backend
    module = importlib.import_module(cbook._backend_module_name(newbackend))
  File "C:\Users\r_ger\AppData\Local\Programs\Python\Python310\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 992, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1004, in _find_and_load_unlocked
ModuleNotFoundError: No module named 'matplotlib_inline'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\pygments\styles\__init__.py", line 45, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\ultratb.py", line 1063, in format_exception_as_a_whole
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\IPython\core\ultratb.py", line 1114, in get_records
  File "c:\Users\r_ger\OneDrive\Escritorio\Python-for-data-analysis\renv\lib\site-packages\pygments\styles\__init__.py", line 47, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'pygments.styles.default', though it should be builtin.